@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 100vh;
  min-width: 100%;
}

.hidden-object-nav ul :is(li:hover .hidden-object-layer) {
  visibility: visible;
  opacity: 1;
}

/* info-wrap */
.hidden-object-nav ul li {
  position: relative;
}

.hidden-object-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  visibility: hidden;
  opacity: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s, visibility 0.2s;
}

.hidden-object {
  display: block;
  transition: 0.2s;
  transform: translateX(11.5em);
  text-align: start;
}

.hidden-object-nav ul :is(li:hover .hidden-object-layer) {
  visibility: visible;
  opacity: 1;
}
