.form-container, form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.form-header {
  display: inline;
}

.form-container {
  width: 500px;
  height: 500px;
  background-color: #f2f2f291;
  border-radius: 0.43rem;
}

form {
  width: 450px;
  height: 450px;
  justify-content: space-evenly;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.radio-list-form ul li:not(:last-child) {
  margin-bottom: 10px;
}