body {
  background-image: url("/static/imgs/game\ background\ image.png");
  background-color: #3689c6;
  
  color: black;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.container {
background-color: #f2f2f291;
width: 900px;
margin: 0 auto;
border-radius: 0.43rem;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.content {
background-color: rgba(0, 0, 0, 0.77);
border-radius: 0.43rem;
}

nav {
  padding: 10px 15px 10px 15px;
}

nav ul {
  list-style-type: none;
  padding-left: 0px;
}

nav ul li {
  padding: 5px;
}

li {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

li a {
  display: block;
}

li :is(a, a:visited) {
  text-decoration: none;
  color: inherit;
}

li:hover {
  color: yellow;
}

.about-section {
max-width: 500px;
}

@media only screen and (max-width: 985px) {
body {
  display: block;
  height: auto;
}

.container {
  width: unset;
  max-width: 900px;
  margin: auto;
}
}